@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /*Fuentes*/
    --font-principal: 'Lato', sans-serif;
    --font-title: 'Poppins', sans-serif;;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: var(--font-title);
}

h2{
    font-family: var(--font-principal);
}
