@import "//sass/misc/variables";

.menu{
    background-color: white;

    & ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    font-family: $font-principal;
    font-size: $text-small;
    flex-direction: row;

        li a{
    display: block;
    padding: 15px 20px;
    color: $primary;
    text-decoration: none; 
        }

        li :hover{
            background-color:rgb(165, 1, 1);
        }
    }
}

#check, #btn-menu, .redes{
    display: none;
}

$redes: (
    twitter: #55acee,
    facebook: #3a5795,
    instagram: purple);

@each $red, $color in $redes{
    #btn-#{$red}{
        background-color: $color;
        border-radius: 5px;
    }
}

@media screen and (max-width: 989px){
    #btn-menu{
        display: block;
        padding: 10px;
    }

    .menu ul{
        display: flex;
        flex-direction: column;
        transition: all 1s;

        & li{
            display: block;
            line-height: 30px;
        }
    }

    .redes{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        margin-left: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
