@import "//sass/misc/variables";

.menu{
    background-color: white;

    & ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    font-family: $font-principal;
    font-size: $text-small;
    flex-direction: row;

        li a{
    display: block;
    padding: 15px 20px;
    color: $primary;
    text-decoration: none; 
        }

        li :hover{
            background-color:rgb(165, 1, 1);
        }
    }
}

.redes{
    display: none;
}

$redes: (
    twitter: #55acee,
    facebook: #3a5795,
    instagram: purple);

@each $red, $color in $redes{
    #btn-#{$red}{
        background-color: $color;
        border-radius: 20px;
    }
}

@media screen and (max-width: 989px){
    .redes{
        display:flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .menu ul{
        display: none;
    }
}
