@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Colores*/
$primary: black;
$secondary: rgb(148, 0, 0);
$alternative: red;
$other: rgb(245, 245, 245);

/*Espacios*/
$spacing-large: 6rem;
$spacing-medium: 3rem;
$spacing-small: 2rem;

/*Fuentes*/
$font-principal: 'Lato', sans-serif;
$font-title: 'Poppins', sans-serif;;

/*Tamaños de fuente*/
$text-large: 5rem;
$text-medium: 2rem;
$text-small: 1.2rem;
$text-xsmall: 0rem;
